<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div id="values">
<h1>WHAT DO YOU VALUE MOST IN A CAREER?</h1>
<h3>drag and sort the bubbles</h3>
<% @values.each do |value| %>
  <div class="sortable">
    <div class="draggable">
      <%= "#{value}" %></br>
    </div>
  <div>
<% end %>
</div>

<script>
$( ".draggable" ).draggable({
  connectToSortable: ".sortable"
});
$( ".sortable" ).sortable();
$( ".sortable" ).disableSelection();
</script>
