<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div id="values">
<h1>WHAT DO YOU VALUE MOST IN A CAREER?</h1>
<h3>drag your favorites into the cloud</h3>
  <div>
    <img class="droppable", src='/assets/cloud.png'></img>
  </div>

<% @values.each do |value| %>
  <div class="draggable">
      <li><%= "#{value}" %></br></li>
  </div>
<% end %>



<script>
$( function() {
   $( ".draggable" ).draggable();
   $( ".droppable" ).droppable({
     drop: function( event, ui ) {
       $( this )
         .addClass( "ui-state-highlight" )
         .find( "img" )
           .html( "Dropped!" );
     }
   });
 } );
// $( ".draggable" ).draggable();
</script>
