<div id="blog">
  <div class="blog_header">
    <h1>Career Blog </h1>
    <h3>Awesome Job = Happier You</h3>
  </div>
  <div class="blog_photo"><img src="http://www.temptationgifts.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/i/pigment-happy-jackson-great-new-job-greeting-card-gf829b_1.jpg")%></img></div>
  <p class "blog_text">Gummies sweet jelly toffee. Muffin cookie wafer chocolate jelly beans. Liquorice halvah sweet tiramisu. Jujubes gingerbread wafer fruitcake lemon drops gingerbread gingerbread. Dragée topping fruitcake pastry marzipan. Toffee sugar plum tiramisu candy dragée lemon drops.
Toffee cake topping sweet roll. Bear claw pastry jujubes cookie jujubes. Cheesecake jelly beans muffin muffin bear claw jelly-o wafer. Lemon drops marzipan wafer marshmallow chocolate cake cake topping marzipan. Sweet roll icing biscuit sweet macaroon. Muffin tiramisu carrot cake brownie topping gummi bears cupcake. Tootsie roll tiramisu chocolate cake cookie candy lollipop bear claw.
Soufflé chocolate bar oat cake. Apple pie jelly beans jelly marzipan. Jelly beans tootsie roll gingerbread cupcake oat cake danish. Tootsie roll powder soufflé sesame snaps gummies tart. Sugar plum gummi bears pie jujubes. Danish chocolate bar marshmallow liquorice danish lollipop. Tiramisu cupcake tart gingerbread apple pie brownie lemon drops fruitcake marshmallow. Marshmallow jelly-o chocolate cake bear claw cake pudding sweet roll ice cream.
Cupcake candy canes tootsie roll gummies tiramisu biscuit. Jujubes cake jelly-o brownie pastry bear claw. Candy canes chupa chups gummi bears. Topping cotton candy bonbon chocolate cake. Brownie marshmallow candy canes. Liquorice liquorice dessert oat cake sugar plum dragée liquorice.
Sweet topping tootsie roll. Caramels halvah gummi bears bonbon. Bear claw donut icing jelly-o. Chocolate cake donut ice cream tootsie roll macaroon. Pudding liquorice cookie oat cake gingerbread caramels tootsie roll. Cheesecake bear claw lollipop candy canes cheesecake candy canes. Macaroon soufflé marshmallow donut candy sweet tiramisu jelly. Chocolate bar apple pie jelly beans gingerbread brownie sugar plum fruitcake. Liquorice chocolate lollipop gummi bears macaroon jelly-o ice cream brownie. Tart ice cream sesame snaps.</p>
</div>
