<div id="blog">
  <div class="blog_header">
    <h1>Careerleon Blog </h1>
    <h2>Are You Ready to Start a New Career?</h2>
  </div>
  <div class="blog_photo"><img src="/assets/employees.jpg")%></img></div>
  <p class="blog_text">You wake up, silence your alarm, and the idea of getting out of bed and going to work begins filling your head with anxiety.
    This is one reason why you should stop waiting and start your career transition now. There are many other viable reasons why you should make a change:
    lack of challenge, poor pay, or even lack of respect at the workplace. The reality is, as people we aren't born into a specific career.
    As difficult as it might seem to change your current job, it's possible. You made a decision to take your current job,
    and you can make the decision to leave it. Careerleon is here to help you on your journey into a new career. Create goals, set deadlines,
    and take the steps needed to achieve your goals. If you need to think about what you truly want in a career, click on values and take some time to ponder.
    If you need encouragement, click on inspiration and find a quote that will lead you to a better mindset. A better future is on its way!
  </p>
</div>
