<div id="goals_index">
  <h1>MY CAREER GOALS</h1>
  <div class="goal_list">
    <ul>
      <% counter = 0 %>
      <% @goals.each do |goal| %>
      <% counter += 1 %>
        <% unless current_user.nil? %>
        <% end %>
         <li class="goal"><%="#{counter}.) "%><%= link_to("#{goal.title}", goal) %></li>
      <% end %>
    </ul>
  </div>
  <div class="index link">
    <%= button_to "Create a Career Goal", new_goal_path, method: :get %>
  </div>
</div>
