body {
  margin: 0px;
}

ul {
  list-style: none;
}

.container {
  background-color: #F1F1F1;
  margin: 0;
}
#navbar {
  border-bottom: 2px solid black;
  background-color: #8BC34A;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .links {
    a:link {
      font-family: 'Indie Flower';
      text-decoration: none;
      padding: 0 15px;
      color: white;
    }
    a:visited {
      font-family: 'Indie Flower';
      text-decoration: none;
      padding: 0 15px;
      color: white;
    }
  }
  .logo {
    display: inline;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    align-items: center;
    padding: 15px;
    img {
      display: inline-flex;
      width: auto;
      height: 50px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .logoheader {
      display:inline-flex;
      font-family: 'Indie Flower';
      text-align: left;
      padding-left: 0px;
      margin-left: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      font-size: 3rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .logosub {
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 72px;
    color: white;
    font-family: 'Indie Flower';
  }
}
