
body {
  margin: 0px;
  background-color: #F1F1F1;
  font-family: 'Bungee Hairline', cursive;
}

ul {
  list-style: none;
}

form {
   text-align: center;
   margin:auto;
   }

input[type=text] {
  border: 2px solid #8BC34A;
  width: 50%;
}

textarea {
  border: 2px solid #8BC34A;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type=email]{
  border: 2px solid #8BC34A;
  width: 50%;
}
input[type=password]{
  border: 2px solid #8BC34A;
  width: 50%;
}

input[type=submit] {
  font-family: 'Bungee Hairline', cursive;
  color: white;
  background-color: #8BC34A;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 200%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
input[type=submit]:hover {
  background-color: purple;
}

.review {
  text-align: center;
}

#log-in {
  text-align: center;
  h1 {
    color: #8BC34A;
  }
}

#values {
  padding-bottom: 0px;
  text-align: center;
  h1 {
  color: #8BC34A;
  margin-bottom: 0px;
  padding-bottom: 0px;
  }
  h3 {
    color: black;
    margin-top: 0px;
    padding-top: 0px;
  }
  .javaValues {
    h3 {
      color: #8BC34A;
      padding-bottom: 0px;
      margin-bottom: 0px
    }
    padding-top: 20px;
    font-size: 150%;
    font-weight: bolder;
    color: purple;
  }
}


#sign-up {
  text-align: center;
  h1 {
    color: #8BC34A;
  }
}
  h3 {
    color: #8BC34A;
  }

#ui-datepicker-div {
  background-color: white;
  font-size: 20px;
}

#ui-datepicker-div > table > tbody > tr {
  background-color: white;
}

.ui-datepicker .ui-datepicker-title {
  font-family: 'Bungee Hairline', cursive;
  font-size: 20px;
}

.ui-datepicker table {
  text-align: center;
  font-family: 'Bungee Hairline', cursive;
  border-collapse: collapse;
  font-size: .9em;
  margin: 0 0 .4em;
  width: 100%;
  background-color: white;
}

.draggable.ui-draggable-dragging {
  background-size: 210px 210px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}



.draggable {
  display: inline-block;
  font-weight: bolder;
  background-image: url('bubble.png');
  background-size: 190px 190px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  li {
    list-style-type: none;
  }
}

.droppable {
  border-radius: 20%;
  text-align: center;
  background-size: contain;
  display: block;
  margin: auto;
  background-size: contain;
}

#flash_success {
  color: green;
}

#flash_notice {
  color: green;
}

#flash_error {
  color: red;
}

#profile {
  text-align: center;
  h1 {
    color: #8BC34A;
  }
}

#new_goal {
  text-align: center;
  h1 {
    color: #8BC34A;
  }
}

#new_step {
  h1 {
    text-align: center;
    color: #8BC34A;
  }
}

#goal{
  font-family: 'Indie Flower';
  text-align: center;
  h1 {
    font-family: 'Bungee Hairline', cursive;
    color: #8BC34A;
    margin-bottom: 0px;
  }
  p {
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Indie Flower'
  }
  ul {
    font-size: 200%;
    li {
      display: inline-block;
    }
  }
  h3 {
    font-size: 200%;
  }
  h4 {
    font-size: 200%;
  }
  .title{
    display: inline;
    margin-top: 0px;
    padding-top: 0px;
    background-color: white;
    .header {
      font-size: 300%;
    }
  }
  .show_steps{
    margin-right: 200px;
    margin-left: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  .step_deadline{
    color: red;
  }
  .goal_deadline{
    font-size: 200%;
    color: red;
  }
}

#edit_user {
  h1 {
    color: #8BC34A;
  }
  text-align: center;
  input[type=submit] {
    border-radius: 10%;
    font-family: 'Bungee Hairline', cursive;
    color: white;
    background-color: #8BC34A;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 200%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

#goals_index {
  h1 {
    text-align: center;
    color: #8BC34A;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: purple;
  }
  a:visited {
    text-decoration: none;
  }
  .goal_list {
    text-align: center;
    font-size: 150%;
  }
}

#new_goal{
  .new_goal_header {
    text-align: center;
  }
}

#inspiration {
  text-align: center;
  h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #8BC34A;
  }
  h3 {
    margin-top: 0px;
    padding-top: 0px;
    color: black;
  }
  .quote {
    padding-bottom: 60px;
    img {
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222);
      border-radius: 5%;
    }
  }
}

#blog {
  font-family: 'Dosis', sans-serif;
 h1 {
   font-family: 'Bungee Hairline', cursive;
   margin-bottom: 0px;
   color: #8BC34A;
 }
 h2 {
   font-family: 'Bungee Hairline', cursive;
   margin-top: 0px;
 }
  img {
    padding-bottom: 20px;
    display: block;
    margin: auto;
    width: auto;
    height: 300px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  .blog_header {
    text-align: center;
  }
  .blog_text {
    margin: 20px;
    text-align: justify;
  }
}

#navbar {
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: #8BC34A;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    padding-bottom: 3px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .links {
    a {
      font-family: 'Bungee Hairline', cursive;
      color: white;
      padding: 0 15px;
    }
    a:hover {
      color: yellow;
    }
    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
  }
  .logo {
    display: inline;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    align-items: center;
    padding: 15px;
    img {
      display: inline-flex;
      width: auto;
      height: 75px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    img:hover {
      opacity: 0;
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
    }
    .logoheader {
      display:inline-flex;
      font-family: 'Bungee Hairline', cursive;
      text-align: left;
      padding-left: 0px;
      margin-left: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      font-size: 3rem;
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: yellow;
      }
    }
  }
  .logosub {
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 100px;
    color: white;
    font-family: 'Bungee Hairline', cursive;
  }
}
